body {
    background-color: #414149;
}

.vis-time-axis .vis-text {
    color: #FFFFFF;
}

.vis-item {
    border-color: #000000;
    background-color: #494b53;
}

.vis-item.vis-selected {
    border-color: #a88000;
    background-color: #797979;
    border-width: 3px;
}

.vis-item-content div img {
    width: 70px;
    max-height: 100px;
}

.vis-item-content div {
    width: 200px;
}

.vis-item-content div table {
    border: 0;
    text-align: center;
    margin: auto;
}

.vis-item-content{
    height: 170px;
}
