body {
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
    color: #FFFFFF;
}

.text-center {
    text-align: center;
}

#hint {
    color: #b9b9b9
}

#copyright {
    color: #8a8a8a
}

#copyright a{
    color: #8a8a8a
}

.vis-time-axis .vis-text {
    color: #FFFFFF;
}

.vis-item {
    border-color: #FFFFFF;
    background-color: rgb(55, 55, 55);
    background-image: linear-gradient(45deg, black 30%, transparent 30%, transparent 70%, black 70%, black), linear-gradient(45deg, black 30%, transparent 30%, transparent 70%, black 70%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(55, 55, 55));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
    box-shadow: 0px 0px 25px #2CFF0099;
}

.vis-item.vis-selected {
    border-color: #a88000;
    background-color: #797979;
    border-width: 3px;
}

.vis-item-content div img {
    width: 90px;
    max-height: 120px;
}

.vis-item-content div {
    width: 150px;
}

.vis-item-content div table {
    border: 0;
    text-align: center;
    margin: auto;
}

.vis-item-content{
    height: 220px;
    color: #FFFFFF;
}
