body {
    background-color: #414149;
    color: #FFFFFF;
}

.vis-time-axis .vis-text {
    color: #FFFFFF;
}

.vis-item {
    border-color: #000000;
    background-color: #494b53;
}

.vis-item.vis-selected {
    border-color: #a88000;
    background-color: #797979;
    border-width: 3px;
}

.vis-item-content div img {
    width: 90px;
    max-height: 120px;
}

.vis-item-content div {
    width: 150px;
}

.vis-item-content div table {
    border: 0;
    text-align: center;
    margin: auto;
}

.vis-item-content{
    height: 220px;
}
